
<!-- BANNER WITH GET-IN-LINE OR DROP-OUT-OF-LINE BUTTON -->
<div class="container">
  <div class="row text-center">
    <h1><%= @line.title %></h1>
    <%= render partial: 'time_left' %>
    <%= render partial: 'line_buttons' %>
  </div>
</div>
