
<div class="tab-content hidden" id="line_info">
  <h2 class="text-center" style="width: 100%; margin-bottom: 10px;">Line information</h2>
  <div class="line-info-wrapper">
    <% user = User.find(@line.user_id) %>
    <% line_list = { %>
      <% "Organization:": @line.organization_name, %>
      <% "Host:": user.first_name + " " + user.last_name, %>
      <% "Location:": @line.location, %>
      <% "Starts:": @line.start_time.to_time.strftime('%B %e at %l:%M %p'), %>
      <% "Ends:": @line.end_time.nil? ? "" : @line.end_time.to_time.strftime('%B %e at %l:%M %p'), %>
      <% "Average service time:": "About " + @line.avg_service_time.to_s + " minutes" %>
    <% } %>

    <% line_list.each do |key, value| %>
      <% unless value.nil? || value == "" %>
        <ul class="line-info-list">
          <li><h4 class="text-left"><%= key %></h4></li>
          <li><h4 class="text-right"><%= value %></h4></li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
