<!-- Rendering two different partials depending on viewport size -->
<div class="visible-md visible-lg">
  <%= render partial: "line_index_large" %>
</div>
<div class="visible-xs visible-sm">
  <%= render partial: "line_index_small" %>
</div>
