<div class="message">
  <p><%= message.content %></p>
</div>

<form>
  <label>Write something</label><br>
  <input type="text" data-behavior="room_speaker">
  <input type="submit" class="btn btn-success" value="Send">
</form>
