// Admins list wrapper and header
.contact-admins-wrapper {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}
#contact_admins h2 {
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
}

// List design
.admin-list {
  height: 250px;
  overflow: scroll;

}
.admin-list-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}
.admin-list-row:hover {
  background: white;
}

// List items design
.admin-list-avatar {
  width: 40px;
  border-radius: 50%;
  margin: 0 10px 0 10px;
}
.admin-list-body {
  width: 200px;
  margin-left: 15px;
}
.admin-list-body h4 {
  text-align: left;
}
.admin-list-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}


// Controls design
.admin-list-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.admin-list-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: $lightgray;
}
.admin-list-controls a:hover {
  color: $orange !important;
  text-decoration: none;
}
