
// Line header
#current_line h2 {
  width: 100%;
  margin-bottom: 10px;
  height: 34px;
}

// List design
.appointment-list {
  height: 250px;
  overflow: scroll;
  margin-top: 30px;
}
.appointment-list-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

// List items design
.appointment-list-avatar {
  width: 40px;
  border-radius: 50%;
  margin-right: 30px;
}
.appointment-list-body {
  width: 200px;
}
.appointment-list-body h4 {
  text-align: left;
}
.appointment-list-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}


// Controls design
.appointment-list-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.appointment-list-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.appointment-list-controls-big a {
  font-size: 30px;
  color: #1A2930;
}
.appointment-list-controls a:hover {
  color: #FDB631 !important
}
.appointment-list-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}
