
// Banner section
.banner {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%),
  url('airport-line-1.png');
  color: $white;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-size: cover !important;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner-content-wrapper {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
}
.banner-logo {
  width: 500px;
}
.banner-content-wrapper h1 {
  font-size: 50px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.banner-bottom a {
  text-decoration: none;
  color: $lightgray;
}
.banner-bottom a:hover {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}

// Home page line search form
.home-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  position: relative;
}
.home-search-btn {
  margin-left: 5px;
  border: 0;
}
.home-search-btn:hover {
  border: 0;
}
.home-search-input {
  flex: 0 1 400px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.home-search-input:focus  {
  border: 1px solid #CCCCCC;
}

// How it works section
.how-it-works-wrapper {
  color: $white;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-size: cover !important;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
}
.how-it-works-header {
  height: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-it-works-header h1 {
  font-size: 50px;
  text-shadow: 0px 1px $darkgray;
  color: $darkgray;
}
.how-it-works-steps {
  font-family: $base-font;
  text-align: center;
  width: 100%;
  height: 33.3%;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%),
  url('airport-line-5.png');
  background-size: cover !important;
  display: flex;
  align-items: center;
}
.how-it-works-steps-row {
  width: 100%;
}
.how-it-works-steps p {
  font-size: 20px;
  color: $white;
}
.how-it-works-steps i {
  font-size: 50px;
  margin: 11px 0 20px 0;
  color: $white;
}
.get-started {
  height: 33.3%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
