
// General
#line_info h2 {
  width: 100%;
  margin-bottom: 10px;
  height: 34px;
}
.line-info-header {
  width: 100%;
  margin-bottom: 10px;
}

// Viewport size > xs
.line-info-wrapper-large {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
}
.line-info-list-large {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.line-info-list-large li {
  width: 280px;
  word-wrap: break-word;
  margin: 0;
}
.line-info-list-large li > h4 {
  margin: 7px 0;
}

// Viewport sizes sm, md and lg
.line-info-wrapper-small {
  display: flex;
  flex-direction: column;
}
.line-info-list-small {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.line-info-list-small li {
  word-wrap: break-word;
  margin: 0;
  width: 50%;
}
.line-info-list-small li > p {
  margin: 7px 0;
}
