<!-- List all potential chat partners for the current user -->
<div class="panel my-panel my-panel-large">
  <div class="panel-heading">
    <div class="panel-title">Your hosts and admins</div>
  </div>
  <div class="panel-body panel-body-large panel-body-conversations">
    <% admins_and_hosts = [] %>
    <% current_user.appointments.each do |appointment| %>
      <!-- Add all hosts of all the lines the current user is in to the array -->
      <% admins_and_hosts << appointment.line.user %>
      <!-- Add all admins of all the lines the current user is in to the array -->
      <% appointment.line.administrators.each do |admin| %>
        <% admins_and_hosts << admin.user %>
      <% end %>
    <% end %>

    <% admins_and_hosts.each do |user| %>
      <% avatar_url = user.facebook_picture_url || "avatar-placeholder.png" %>
      <div class="chat-list-item">
        <%= image_tag avatar_url, class: "chat-list-avatar" %>
        <div class='chat-list-body'>
          <ul class="list-inline" style="margin: 0;">
            <li style="height: 100%;">
              <h4> <%= link_to "#{user.first_name} #{user.last_name}", conversations_path(user_id: user), remote: true, method: :post, class: "name-link" %> </h4>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>


