<!-- Chat room / inbox view -->
<div class="container inbox-wrapper">
  <div class="row inbox-row">
    <div class="col-xs-2 col-md-4 inbox-col-conversations">

      <!-- Current conversation list for viewport sizes md and lg -->
      <div class="row chats-row-large hidden-xs hidden-sm">
        <!-- List all current chat partners-->
        <%= render partial: "my_current_chat_partners" %>
      </div>

      <!-- Potential conversation list for viewport sizes md and lg -->
      <div class="row chats-row-large hidden-xs hidden-sm">
        <!-- List all potential chat partners for the current user -->
        <%= render partial: "my_admins_and_hosts" %>
      </div>

      <!-- Current and potential conversation list for viewport sizes xs and sm -->
      <div class="row visible-xs visible-sm" style="height: 100%;">
        <!-- List of current conversations and potential new conversations with only avatars -->
        <%= render partial: "my_admins_and_hosts_small" %>
      </div>

    </div>

    <!-- List all current conversations and their content -->
    <div class="col-md-8 inbox-col-messages">
      <ul id="conversations-list" class="inbox-col-scroll">
        <% @conversations.each do |conversation| %>
          <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
        <% end %>
      </ul>
    </div>

  </div>
</div>
