
<div class="how-it-works-wrapper">

  <div class="how-it-works-header">
    <h1>How it works</h1>
  </div>

  <div class="container how-it-works-steps">
    <div class="row how-it-works-steps-row">
      <div class="col-xs-12 col-sm-3 light-padded">
        <i class="fa fa-search"></i>
        <p>Find your line</p>
      </div>
      <div class="col-xs-12 col-sm-3 light-padded">
        <i class="fa fa-check"></i>
        <p>Get in line</p>
      </div>
      <div class="col-xs-12 col-sm-3 light-padded">
        <i class="fa fa-bell"></i>
        <p>Get notified</p>
      </div>
      <div class="col-xs-12 col-sm-3 light-padded">
        <i class="fa fa-smile-o"></i>
        <p>Enjoy your extra time</p>
      </div>
    </div>
  </div>

  <div class="get-started">
    <div class="how-it-works-header light-padded">
      <h1>What are you waiting for?</h1>
      <div>
        <%= link_to 'Stop waiting', new_user_registration_path, class: "btn btn-lg my-btn" %>
      </div>
    </div>
  </div>

</div>




