
// General
.devise-wrapper {
  margin-bottom: 40px;
}
.devise-header {
  margin-bottom: 30px;
}
// .devise-buttons {
//   display: flex;
//   flex-direction: column;
//   align-items: space-between;
//   justify-content: space-between;
// }
.devise-btn {
  margin-bottom: 5px;
}

// Sign up
.sign-up-wrapper {

}

// Sign in
.sign-in-wrapper {

}

// Edit account
.edit-account-wrapper {

}

//
