/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// BUTTONS
.my-btn {
  font-family: $base-font;
  background-color: #D16014;
  color: $white;
}
.my-btn:hover {
  background-color: #CC5404;
  color: $white;
  border: 1px solid $orange;
}
.btn-red {
  font-family: $base-font;
  background-color: $red;
  color: $white;
  margin-top: 20px;
}
.btn-red:hover {
  background-color: #C61414;
  color: $white;
  border: 1px solid $red;
}
.fb-login-button {
  background: #4267b2;
  color: white;
}
.fb-login-button:hover {
  background: #35589e;
  color: white;
}
.fb-login-button-text {
  background: transparent;
  color: white;
}
.fb-login-button-text:hover {
  background: transparent;
  color: white;
  text-decoration: none;
}
