/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: 0;
  border-radius: 0;
  font-family: $base-font;
}
.alert-info {
  background: $orange;
}
.alert-warning {
  background: $orange;
}
