// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// Datetimepicker
@import 'bootstrap3-datepicker';

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";


// Global rules
body {
  background-color: $white;
  color: $darkgray;
}
h1, h2, h3, h4 {
  font-family: $header-font;
}
p {
  font-family: $base-font;
}
